.about-us {
  @include newSection();
  @include boxShadow();
  background-color: $second-background-color;
  padding: 30px 10px;
  margin: 30px;
  border-radius: 30px;
  color: white;
  .us-icon {
    font-size: $large-mobile-font-size;
    height: 65px;
    width: 100px;
    margin-bottom: 25px;
    border-bottom: 2px solid $main-extra-color;
  }
  p {
    font-size: $normal-mobile-font-size;
    letter-spacing: 1px;
  }
}

@media (min-width: 767px) {
  .about-us {
    .about-us-description {
      padding: 10px 40px;
    }
  }
}

@media (min-width: 1023px) {
  .about-us {
    .about-us-description {
      padding: 10px 100px;
    }
  }
}

@media (min-width: 1439px) {
  .about-us {
    margin: 60px;
  }
}

@media (min-width: 1919px) {
  .about-us {
    margin: 30px 120px;
  }
}
