.contacts {
  @include newSection();
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 15px;
  .contact {
    display: flex;
    font-size: $normal-mobile-font-size;
    padding: 10px 0;
    margin: 20px 0;
    .contact-icon {
      font-size: 50px;
      width: 50px;
      height: 50px;
      margin-right: 25px;
      color: $main-extra-color;
    }
    a {
      transform: translateY(8px);
    }
    a:link,
    :visited {
      padding: 10px 10px 10px 0;
      color: white;
      cursor: pointer;
    }
    a:hover {
      color: $main-extra-color;
    }
  }
  h4 {
    font-size: $normal-mobile-font-size;
    margin-bottom: 10px;
  }
  .socials-wrapper {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    margin-bottom: 20px;
  }
  .social {
    @include goldButton();
    border: none;
    font-size: 70px;
    padding: 0px;
    width: 80px;
    height: 80px;
    margin: 0px 20px;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    font-size: $normal-mobile-font-size;
    .form-title {
      @include whiteFontColor();
      margin-bottom: 15px;
    }
    input[type="text"],
    .sending-input {
      color: white;
      padding: 12px 20px;
      width: 100%;
      margin: 8px 0;
      background: #4e414183;
      border: none;
      border-radius: 15px;
      box-sizing: border-box;
      &:focus-visible {
        outline: 1px solid $main-extra-color;
      }
    }
    .message {
      height: 100px;
      width: 100%;
      padding: 12px;
      margin-bottom: 15px;
      resize: none;
    }
    .submit-btn {
      @include goldButton();
      border: none;
      width: 50%;
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (min-width: 767px) {
  .contacts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.3fr repeat(2, 0.5fr);
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    h2 {
      grid-area: 1 / 1 / 2 / 3;
    }
    .contacts-desktop-wrapper {
      grid-area: 2 / 1 / 3 / 2;
      margin: 0 auto;
      .contact {
        margin: 15px 0;
      }
    }
    .socials {
      grid-area: 2 / 2 / 3 / 3;
      .socials-wrapper {
        justify-content: space-around;
      }
    }
    .contact-form {
      grid-area: 3 / 1 / 4 / 3;
      width: 60%;
      justify-self: center;
      align-self: center;
    }
  }
}

@media (min-width: 1439px) {
  .contacts {
    .socials {
      grid-area: 3 / 1 / 4 / 2;
    }
    .contact-form {
      grid-area: 2 / 2 / 4 / 3;
      width: 80%;
    }
  }
}
