.services {
  @include newSection();
  .service {
    margin: 30px 0;
    .service-icon {
      font-size: 28px;
    }
    .paragraph-title {
      font-size: $big-mobile-font-size;
      margin-bottom: 15px;
    }
    p {
      font-size: $small-mobile-font-size;
    }
  }
}
