$main-background-color: #131212;
$extra-background-color: #201e20;
$second-background-color: rgba(20, 20, 20, 0.8);
// $main-extra-color: #f1dd23;
// $main-extra-color: rgb(138, 207, 240);
$main-extra-color: #ddc3a5;

// zmiany
$black-brown-color: #201e20;
$tan-color: #e0a96d;
$beige-color: #ddc3a5;
