$logo-mobile-font-size: 25px;
$small-mobile-font-size: 18px;
$normal-mobile-font-size: 25px;
$big-mobile-font-size: 33px;
$bigger-mobile-font-size: 40px;
$section-title-mobile-font-size: 45px;
$large-mobile-font-size: 55px;
