@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

@import "utilities/colors";
@import "utilities/fonts";
@import "utilities/mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: $main-background-color;
  color: white;
}

.body-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
}

.gradient-circle {
  @include gradientCircle();
}

.circle-top {
  top: -40%;
  left: -60%;
}

.circle-mid {
  top: 20%;
  right: -65%;
}

.circle-bottom {
  bottom: -10%;
  right: -65%;
}

.gold {
  @include goldFontColor();
}

.section-title {
  font-size: $section-title-mobile-font-size;
  margin-bottom: 15px;
}

a:link,
:visited,
:hover {
  text-decoration: none;
  color: none;
  cursor: auto;
}

@import "components/header";
@import "components/services";
@import "components/aboutus";
@import "components/contacts";
@import "components/footer";
