@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@import "utilities/colors";
@import "utilities/fonts";
@import "utilities/mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  // background: rgb(19, 18, 18);
  // background: linear-gradient(
  //   180deg,
  //   rgba(19, 18, 18, 1) 30%,
  //   rgba(40, 39, 38, 1) 65%,
  //   rgba(19, 18, 18, 1) 95%
  // );
  background: rgb(32, 30, 32);
  background: linear-gradient(
    180deg,
    #201e20 30%,
    rgb(40, 39, 38) 65%,
    rgba(32, 30, 32, 1) 95%
  );

  color: white;
}

.body-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  overflow-x: hidden;
}

.gradient-circle {
  @include gradientCircle();
}

.circle-top {
  top: -45%;
  left: -80%;
}

.circle-mid {
  bottom: -35%;
  right: -93.5%;
}

.circle-bottom {
  bottom: -40%;
  left: -95%;
}

.gold {
  @include goldFontColor();
}

.section-title {
  font-size: $section-title-mobile-font-size;
  margin-bottom: 15px;
}

a:link,
:visited,
:hover {
  text-decoration: none;
  color: none;
  cursor: auto;
}

@import "components/nav";
@import "components/header";
@import "components/services";
@import "components/aboutus";
@import "components/subs";
@import "components/contacts";
@import "components/footer";

.iicon {
  cursor: pointer;
}

@media (min-width: 767px) {
  .circle-top {
    top: -45%;
    left: -45%;
  }

  .circle-mid {
    bottom: -40%;
    right: -45%;
  }

  .circle-bottom {
    bottom: -45%;
    left: -45%;
  }
}

@media (min-width: 1023px) {
  .circle-top {
    width: 700px;
    height: 700px;
    top: -65%;
    left: -35%;
  }

  .circle-mid {
    width: 700px;
    height: 700px;
    bottom: -40%;
    right: -30%;
  }

  .circle-bottom {
    width: 700px;
    height: 700px;
    bottom: -45%;
    left: -30%;
  }
}

@media (min-width: 1439px) {
  .circle-top {
    top: -75%;
    left: -25%;
  }
  .circle-mid {
    bottom: -35%;
    right: -25%;
  }

  .circle-bottom {
    bottom: -50%;
    left: -25%;
  }

  .section-title {
    font-size: 3.5em;
  }
}
